body {
    font-family: Cormorant Garamond, sans-serif;
    color: white;
}

.fundo {
    position: absolute;
    z-index: -999;
    height: 100vh;
    width: 100vw;
}

.quadrado {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 58px;
    height: 90vh;
    width: 95vw;
    border-radius: 50px;
    z-index: -998;
    backdrop-filter: blur(25px); /* Para o fundo ficar com um blur */
    border: 3px solid rgba(255, 255, 255, 0.3); /* Para ter uma borda, com a grossura, cor e transparência */
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 120px 160px 0px 160px;
    align-items: center;
    font-weight: 500;
}

.tema {
    font-size: 36px;
}

.botoes {
    display: flex;
    gap: 45px;
    font-size: 30px;
}

.entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); /* Para o fundo ficar com um blur */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2); /* Para ter uma sombra */
    border-radius: 15px;
}

.text-join {
    font-size: 32px;
}

/* MAIN */
main {
    display: flex;
    flex-grow: 1; /* Para o main ficar com o tamanho máximo que ele conseguir */
    padding: 200px 160px 0px 160px;
}

.titulo{
    font-size: 75px;
    font-weight: bold;
    width: 1000px;
    line-height: 0.8;
}

.descricao{
    font-size: 43px;
    font-weight: 500;
    width: 1300px;
    padding: 90px 0px 90px 0px;
}

.book{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2); /* Para ter uma sombra */
    border-radius: 15px;
}

.text-book{
    font-size: 37px;
    font-weight: 500;
}

.arvore{
    width: 75vw;
    height: 75vh;
    position: absolute;
    transform: translate(44%, -9%);
}

/* FOOTER */
footer{
    display: flex;
    gap: 90px;
    padding: 150px 0px 0px 160px;
}


.app{
    font-size: 40px;
}