body {
    font-family: Cormorant Garamond, sans-serif;
    color: white;
}

.fundo {
    position: absolute;
    z-index: -999;
    height: 100vh;
    width: 100vw;
}

.quadrado {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 58px;
    height: 90vh;
    width: 95vw;
    border-radius: 50px;
    /* background-color: #808089; */
    z-index: -998;
    backdrop-filter: blur(10px); /* Para o fundo ficar com um blur */
    border: 3px solid rgba(255, 255, 255, 0.3); /* Para ter uma borda, com a grossura, cor e transparência */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 120px 160px 0px 160px;
    font-size: 30px;
}

.tema {
    font-size: 36px;
}

.botoes {
    display: flex;
    gap: 45px;
}

.entrar {
    padding: 10px 60px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); /* Para o fundo ficar com um blur */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2); /* Para ter uma sombra */
    border-radius: 15px;
}

.textjoin {
    font-size: 32px;
}

main {
    flex-grow: 1; /* Para o main ficar com o tamanho máximo que ele conseguir */
}

footer {}